.price-about{
    @include e(title){
        font-size:2.25rem;
    }
    @include e(about){
        font-size:1.16rem;
    }
}
.price-list{
    @include e(header){
        font-size:15px;
    }
    @include e(body){
        @include m(p){
            font-size:15px;  
        }
    }
}